*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    user-select: none;
}

.rflex{
    display: flex;
}
.rcolumn{
   flex-direction: column;
}
.rrow{
    flex-direction: row;
}
.rcenter{
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.content{
    height: 100vh;
    width: 100%;
    background-color: rgb(24, 22, 22);
}
.main_nav{
    background-color: rgba(6, 4, 34, 0.952);
    height: 90vh;
    width: 300px;
    margin: 5vh 0 5vh 0;
    position: fixed;
    border-radius: 0 20px 20px 0;
    left: -300px;
    transition: left 1s ease-in-out;
    box-shadow: inset 0 0 20px -3px rgba(2, 2, 10, 0.795);
    justify-items: flex-start;
    align-items: flex-start;

}
.togle_btn{
    height: 10vh;
    width: 30px;
    text-align: center;
    background-image: linear-gradient(to right,rgba(2, 2, 10, 0.795),rgba(9, 3, 104, 0.952));
    border-radius: 0 15px 15px 0;
    position: fixed;
    margin: 45vh 0 45vh 0;
    left: 0px;
    transition: left 1s ease-in-out;
    color: azure;
    cursor: pointer;
}
.material-symbols-outlined{
    transform: rotateY(0deg);
    transition: transform 1s ease-in-out;
}
.text{
    font-family: 'Poppins', sans-serif;
    color: aqua;
    font-size: 30px;
    margin-left: 5px;
    z-index: 10;
    transition: text-shadow .4s ease-in-out,margin-left .4s ease-in-out,color .4s ease-in-out;
}
.list_item:hover > .text{
    text-shadow: 0 0 20px #fff;
    margin-left: 20px;
    color: burlywood;
}
.nav_list{
    margin: 30px 10px 0px 30px;
    width: 260px;
}
.list_item{
    height: 30px;
    justify-content: center;
    margin: 20px 0;
}
.list_item .bar{
    background-color: rgb(28, 28, 37);
    height: 40px ;
    width: 2px;
    position: absolute;
    z-index: -10;
    transition: width .4s ease-in-out;
}
.list_item:hover > .bar{
    width: 260px;
}