*/*.pyc
*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*.png
*.png
*/*/*.png
*/*/*/*.png
*/*.PNG
*.PNG
*/*/*.PNG
*/*/*/*.PNG
*/*.JPG
*.JPG
*/*/*.JPG
*/*/*/*.JPG
*/*.jpg
*.jpg
*/*/*.jpg
*/*/*/*.jpg
*/*.jpeg
*.jpeg
*/*/*.jpeg
*/*/*/*.jpeg
*/*.jpeg
*.jpeg
*/*/*.jpeg
*/*/*/*.jpeg
*/migrations/*.py

*.sqlite3
*/*.sqlite3
*.sqlite3
*/*.sqlite3
port-venv