{% extends 'dashboard/base.html' %}
{% load static %}
{% block heads %}
   <link rel="stylesheet" href="{% static "css/dashboard/contract.css" %}">
{% endblock  %}
{% block content %}
<div class="header_text tx-2 fs-30 w-100">
    Contacts
</div>
<div class="btn w-100 fs-20" onclick="window.dialog.showModal();">Add New</div>

<dialog id="dialog">
	<div class="header_text tx-2 fs-30 w-100">
    Add New Contact
	</div>
	<form action="{% url 'contract' %}" method="post" enctype="multipart/form-data" class="contents">
            {% csrf_token %}
        <input type="text" name="name" class="w-100" placeholder="Input Contacts name" required>

        
         <input type="text" name="address" class="w-100" placeholder="Input Contacts Address" required>

        <input type="text" name="reletion" class="w-100" placeholder="Input Contacts Reletion" required>

 		<input type="text" name="phon_num" class="w-100" placeholder="Input Contacts Phone Number" >

		<input type="text" name="email" class="w-100" placeholder="Input Contacts Email">
		<lebel class="w-100 lebel fs-15">Select Photo</lebel>
		 <input type="file" name="file" accept="image/png, image/gif, image/jpeg" class="w-100" placeholder="Input Contacts Photo">
		 <lebel class="w-100 lebel fs-15">Date Of Birth</lebel>
		<input type="date" name="dob" class="w-100" placeholder="Date Of Birth">
		<lebel class="w-100 lebel fs-15">Last Meet</lebel>
		<input type="date" name="last_meet" class="w-100" placeholder="Last Meet">
		<lebel class="w-100 lebel fs-15">Last Contacted</lebel>
		<input type="date" name="last_conn" class="w-100" placeholder="Last Contacted">
		<input type="text" name="fbid" class="w-100" placeholder="Facebook Id">


        <br>
        <button type="submit" class="btn w-100">Change</button>
        </form>
	<button onclick="window.dialog.close();" aria-label="close" class="x">❌</button>
</dialog>


<div class="card_container">
    {% for x in contract %}
	<article class="cssui-usercard">
		<div class="cssui-usercard__body">
			<header class="cssui-usercard__header">
				<img src="{% if x.profile_pic == "" %}
                {% static "avater.jpg" %}
                {% else %}
                /media/{{ x.profile_pic }}
                {% endif %}" class="cssui-usercard__avatar" alt="Avatar">
				<div class="cssui-usercard__header-info">
					<h3 class="cssui-usercard__name">{{ x.name }}</h3>
					<span class="cssui-usercard__post">{{ x.reletion }}</span>
                    <a href="tel:{{ x.phone_number }}" class="cssui-usercard__post">{{ x.phone_number }}</a>
				</div>
			</header>
			<div class="cssui-usercard__content">
				<div class="cssui-slider">
						<div class="cssui-slider__slide">
							<h4 class="cssui-usercard__title">
								<a href="?id={{ x.id }}&method=connected" class="button">Conenected</a>
								
								<a href="?id={{ x.id }}&method=meeted" class="button">Meeted</a>
								
								<a href="?id={{ x.id }}&method=remove" class="button">Remove</a>
							</h4>
							<div class="cssui-usercard__stats">
								<div class="cssui-stats cssui-usercard__stats-item">
									<i class="cssui-icon icon-earth"></i>
									<div class="cssui-stats__info cssui-usercard__stats-info">
										<span class="cssui-stats__name cssui-usercard__stats-name">Address</span>
										<span class="cssui-stats__value">{{ x.address }}</span>
									</div>
								</div>
								<div class="cssui-stats cssui-usercard__stats-item">
									<i class="cssui-icon icon-location"></i>
									<div class="cssui-stats__info cssui-usercard__stats-info">
										<span class="cssui-stats__name cssui-usercard__stats-name">Email</span>
										<span class="cssui-stats__value">{{ x.email }}</span>
                                        
									</div>
								</div>
								<div class="cssui-stats cssui-usercard__stats-item">
									<i class="cssui-icon icon-calendar"></i>
									<div class="cssui-stats__info cssui-usercard__stats-info">
										<span class="cssui-stats__name cssui-usercard__stats-name">Date of birth</span>
										<span class="cssui-stats__value">{{ x.DOB }}</span>
									</div>
								</div>
								<div class="cssui-stats cssui-usercard__stats-item">
									<i class="cssui-icon icon-man-woman"></i>
									<div class="cssui-stats__info cssui-usercard__stats-info">
										<span class="cssui-stats__name cssui-usercard__stats-name">Last Conected</span>
										<span class="cssui-stats__value">{{ x.last_contacted }}</span>
									</div>
								</div>
                                <div class="cssui-stats cssui-usercard__stats-item">
									<i class="cssui-icon icon-man-woman"></i>
									<div class="cssui-stats__info cssui-usercard__stats-info">
										<span class="cssui-stats__name cssui-usercard__stats-name">Last Meet</span>
										<span class="cssui-stats__value">{{ x.last_meet }}</span>
									</div>
								</div>
								{% if x.fb_id == "" %}
								
								{% else %}
								<div class="cssui-stats cssui-usercard__stats-item">
									<i class="cssui-icon icon-man-woman"></i>
									<div class="cssui-stats__info cssui-usercard__stats-info" style="text-align: center;">
										<a href="{{ x.fb_id }}" target="_blank" class="fbicon">Facebook</a>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
	</article>
    {% endfor %}


</div>
{% endblock  %}